.index {
    .about {
        width: 90%;
        color: $header-text;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        @include desktop {
            width: 80%;
            padding: 25px 0;
        }
    }
}