footer {
    display: flex;
    justify-content: space-around;
    background: $background;
    color: $header-text;
    width: 100%;
    @include tablet {
        justify-content: space-between;
        .contact {
            margin-left: 10px;
        }
        .links {
            margin-right: 10px;
        }
    }
    a{
        color: $header-text;
        text-decoration: none;
        &:hover {
            color: $hover;
        }
    }
    i {
        padding-right: 5px;
    }
}