footer {
    display: flex;
    justify-content: space-around;
    background: $background;
    color: $header-text;
    width: 100%;
    a{
        color: $header-text;
        text-decoration: none;
        &:hover {
            color: $hover;
        }
    }
    i {
        padding-right: 5px;
    }
}