header {
    background: $background;
    display: flex;
    justify-content: space-around;
    width: 100%;
    a {
        color: $header-text;
        text-decoration: none;
        &:hover {
            color: $hover;
        }
    }

}