header {
    background: rgb(13, 65, 21);
    display: flex;
    justify-content: space-around;
    // position: fixed;
    width: 100%;
    a {
        color: rgb(255, 253, 253);
        text-decoration: none;
        &:hover {
            color: red;
        }
    }

}