@mixin link {
    color: $header-text;
    text-decoration: none;
}

@mixin button {
    border: $border;
    padding: 5px;
    &:hover {
        color: $hover;
        border: $border-hover;
            }
}
