.name {
    background: url(../../images/vinebackgroundmobile.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 400px;
    color: rgb(197, 193, 193);
    img {
        border-radius: 15%;
        width: 250px;
    }
}