.projects {
    // background: rgba(68, 30, 55, 0.808);
    background: $background-opaque;
    // margin-top: 30px;
    .gallery {
    // position: relative;
    display: inline-block;
    width: 100%;
    height: 200px;
    object-fit: fill;
    @include tablet {
        width: 49%;
        // display: flex;
        // flex-wrap: wrap;
        &:nth-of-type(odd) {
            margin-left: 0.75%;
        }
    }
    // text-align: center;
    // margin-top: 30px;
    &:last-of-type {
        margin-bottom: 30px;
    }
    &:first-of-type {
        margin-top: 30px;
    }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .title {
            display: none;
            width: 50%;
            text-align: center;
            background: $background;
            color: $header-text;
            padding: 10px;
            border-radius: 40px;
            margin-left: 25%;
            &:hover {
                color: $hover;
            }
        }
        .description {
            color: $header-text;
        }
    }
}
